@import '../../common/_colors.scss';

.Folder-Picker {
  background-color: $river;
  width: 100%;
  color: white;

  .Picker-btns {
    display: flex;

    > .btn {
      padding: 15px 20px;

      &.active {
        background-color: white;
        color: $river;
      }
    }
  }
}
